:root {
    --primary-color: #efefe3;
    --secondary-color: #fce59f;
    --tertiary-color: #e3e3e3;
    --accepted-color: #d2fcd4;
    --accepted-text: #5ebd63;
    --rejected-color: #fcd2d2;
    --rejected-text: #ad0000;
    
    --feather-mini: 12px;
    }
    
    .question {
    background-color: var(--primary-color);
    }
    
    .answer {
    background-color: var(--secondary-color);
    }
    .answer.accepted {
    background-color: var(--accepted-color);
    }
    .answer.accepted .card-footer::after {
    content: '\2605 Accepted Answer';
    color: var(--accepted-text);
    float: left;
    }
    .answer.rejected .card-footer::after {
    content: '\2691 Rejected Answer';
    color: var(--rejected-text);
    float: left;
    }
    .comment {
        background-color: var(--tertiary-color);
        }
        .comment.rejected {
        background-color: var(--rejected-color);
        }
        .comment .card-footer::after {
        content: '' !important;
        }
        .comment.rejected .card-footer::after {
        content: '\2691 Rejected Comment' !important;
        color: var(--rejected-text);
        float: left;
        }
        
        
        .card {
        margin-top: 4px;
        }
        .card-title {
        width: 100%;
        }
        
        svg.feather {
        height: var(--feather-mini);
        width: var(--feather-mini);
        }
        .comments-list {
        margin-top: 20px;
        }