<!-- answer -->
<div class="card answer {{ @answer->getAccepted() ?: 'accepted'}}" data-id="{{@answer->getAnswer_id()}}">
    <div class="card-header">
        <div class="answer-stats float-end">
            <a href="3" class="upvotes"><i data-feather="thumbs-up"></i>{{@answer->getUpvotes()}}</a>
            <a href="#" class="downvotes"><i data-feather="thumbs-down"></i>{@answer->getDownvotes()}}</a>
        </div>
        <div class="user-panel">
            <img src="https://www.gravatar.com/avatar/96e707ce17abf956c0d6a151fe097d64?s=22" />
            {{@answer->getCreator()}} on {{@answer->getCreatedAt()}}
        </div>
    </div>
    <div class="card-body">
        <div class="card-text">{{@answer->getText()}}</div>
        <div class="answer-comment-count">{{@answer->getComments()}}</div>
        <div class="comments-list">
        </div>
        <!-- /comments-list -->
    </div>
    <!-- /card-body-->
    <div class="card-footer text-end">
        <a href="#" class="card-link">Add A Comment</a>
    </div>
</div>
<!-- /answer -->