<!-- answer -->
<div class="card answer {{ @answer->getAccepted() ?: 'accepted'}}" data-id="{{@answer->getAnswerId()}}">
    <div class="card-header">
        <div class="answer-stats float-end">
            <span class="upvotes badge bg-success"><i data-feather="thumbs-up"></i><span class="count">{{@answer->getUpvotes()}}</span></span>
            <span class="downvotes badge bg-danger"><i data-feather="thumbs-down"></i><span class="count">{{@answer->getDownvotes()}}</span></span>
        </div>
        <div class="user-panel">
            <img src="https://www.gravatar.com/avatar/96e707ce17abf956c0d6a151fe097d62?s=22" class="gravatar" data-username="{{ @answer->getCreator() }}" data-size="22" />
            {{@answer->getCreator()}} <span data-livestamp="{{ @answer->getCreatedAt()/1000 }}"></span>
        </div>
    </div>
    <div class="card-body">
        <div class="card-text">{{@answer->getText()}}</div>
        <div class="comments-list">
        </div>
        <!-- /comments-list -->
    </div>
    <!-- /card-body-->
    <div class="card-footer text-end">
        <a href="#" class="card-link">Add A Comment</a>
    </div>
</div>
<!-- /answer -->