<div class="comments-list">
    <div class="card comment" data-id="{{ @comment->getCommentId()}}">
        <div class="card-header">
            <div class="comment-stats float-end">
                <a href="3" class="upvotes"><i data-feather="thumbs-up"></i>{{ @comment->getUpvotes()}}</a>
                <a href="#" class="downvotes"><i data-feather="thumbs-down"></i>{{ @comment->getDownvotes() }}</a>
            </div>
            <div class="user-panel">
                <img src="https://www.gravatar.com/avatar/96e707ce17abf956c0d6a151fe097d64?s=22" />
                {{ @comment->getCreator()}} on {{ @comment->getCreatedAt()}}
            </div>
        </div>
        <div class="card-body">
            <div class="card-text">{{ @comment->getText()}}</div>
        </div>
        <div class="card-footer text-end"></div>
    </div>