<div class="comments-list">
    <div class="card comment" data-id="3265">
        <div class="card-header">
            <div class="comment-stats float-end">
                <a href="3" class="upvotes"><i data-feather="thumbs-up"></i>3</a>
                <a href="#" class="downvotes"><i data-feather="thumbs-down"></i>1</a>
            </div>
            <div class="user-panel">
                <img src="https://www.gravatar.com/avatar/96e707ce17abf956c0d6a151fe097d64?s=22" />
                Username on July 24, 2022
            </div>
        </div>
        <div class="card-body">
            <div class="card-text">This is a first comment</div>
        </div>
        <div class="card-footer text-end"></div>
    </div>