<div class="card col-lg-3 top-50 start-50 translate-middle shadow" style="height: 33rem;">
  <form action="{{ @BASEURL }}/login" method="post">
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>

    <div class="form-outline mb-4 col-xs-4 px-3">
      <input type="text" name="username" id="username_login" class="form-control" />
      <label class="form-label" for="username_login" placeholder="Username">Username</label>
    </div>

    <div class="form-outline mb-4 col-xs-4 px-3">
      <input type="password" name="password" id="pwd_login" class="form-control" />
      <label class="form-label" for="pwd_login" placeholder="Password">Password</label>
    </div>

    <div class="row mb-4 px-3 rounded-3">
      <div class="col d-flex justify-content-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="remember_me" />
          <label class="form-check-label" for="remember_me"> Remember me </label>
        </div>
      </div>

      <div class="col">
        <a href="{{ @BASEURL }}/forgot">Forgot password?</a>
      </div>

      <div class="col">
        <p>Not a member? <a href="{{ @BASEURL }}/signup">Register</a></p>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <input type="submit" value="Login" class="btn btn-primary btn-block mb-4">
    </div>
  </form>
</div>