
    <form>

        <div class="form-outline mb-4">
          <input type="text" id="username_login" class="form-control" />
          <label class="form-label" for="username_login">Username:</label>
        </div>
      

        <div class="form-outline mb-4">
          <input type="password" id="pwd_login" class="form-control" />
          <label class="form-label" for="pwd_login">Password:</label>
        </div>
      
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="remember_me" checked />
              <label class="form-check-label" for="remember_me"> Remember me </label>
            </div>
          </div>
      
          <div class="col">
            <a href="#!">Forgot password?</a>
          </div>
        </div>
      
        <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
      
        <div class="text-center">
          <p>Not a member? <a href="#!">Register</a></p>
        </div>

        </form>
