<div class="card question" data-id="123">
    <div class="card-header">
      <div class="question-header">
        <h5 class="card-title">
          <a href="{{ @BASEURL }}/mail/{{ @mail->getMailId() }}">{{ @mail->getSubject() }}</a>
        </h5>
        <div class="card-subtitle">
          <div class="user-panel">
            <img src="https://www.gravatar.com/avatar/96e707ce17abf956c0d6a151fe097d62?s=22" class="gravatar" data-username="{{ @mail->getSender() }}" data-size="22"  />
            {{ @mail->getSender() }} <span data-livestamp="{{ @mail->getCreatedAt()/1000 }}"></span>
          </div>
        </div>
        <div class="question-actions float-end">
          <a href="#" class="card-link">Reply</a>
        </div>
      </div>
    </div>
  </div>