<div class="card question" data-id="123">
  <div class="card-header">
    <div class="question-header">
      <h5 class="card-title">
        {{ @question->getTitle() }}
      </h5>

      <div class="question-stats float-end" data-id="2232">
        <span class="views"><i data-feather="eye"></i>{{ @question->getViews() }}</span>
        <a href="3" class="upvotes"><i data-feather="thumbs-up"></i>{{ @question->getDownvotes() }}</a>
        <a href="#" class="downvotes"><i data-feather="thumbs-down"></i>{{ @question->getUpvotes() }}</a>
      </div>
      <div class="card-subtitle">
        <div class="user-panel">
          <img src="https://www.gravatar.com/avatar/96e707ce17abf956c0d6a151fe097d64?s=22" />
          {{ @question->getCreator() }} on {{ @question->getCreatedAt() }}
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="question-body">{{ @question->getText() }}</div>
    <div class="question-answer-count">{{ @question->getAnswers() }} {{ @question->getComments() }}</div>
    <!-- comments -->
    <div class="comments-list">
      <repeat group="{{ @comments }}" value="{{ @comment }}">
        <include href="templates/comment.html" />
      </repeat>
    </div>
    <!-- /comments list -->
    <!-- answers -->
    <div class="answers-list">
      <repeat group="{{ @answers }}" value="{{ @answer }}">
        <include href="templates/answer.html" />
      </repeat>
    </div>
    <!-- /answer-list -->
  </div> <!-- /card-body -->
  <div class="card-footer">
    <div class="question-actions float-end">
      <a href="#" class="card-link">Add A Comment</a>
      <a href="#" class="card-link">Add An Answer</a>
    </div>
  </div>