<div class="question">
    <div class="question-id">{{ @question.id }}</div>
    <div class="question-creator">{{ @question.creator }}</div>
    <div class="question-created">{{ @question.createdAt }}</div>
    <div class="question-title">{{ @questionl.title }}</div>
    <div class="question-text">{{ @question.text }}</div>
    <div class="question-stats">
        <div class="question-views">{{ @question.views }}</div>
        <div class="question-answers">{{ @question.answers }}</div>
        <div class="question-comments">{{ @question.comments }}</div>
        <div class="question-upvotes">{{ @question.upvotes }}</div>
        <div class="question-downvotes">{{ @question.downvotes }}</div>
    </div>
</div>