<div class="card question" data-id="123">
  <div class="card-header">
    <div class="question-header">
      <h5 class="card-title">
        {{ @question->getTitle() }}
      </h5>

      <div class="question-stats float-end" data-id="2232">
        <span class="views badge bg-info"><i data-feather="eye"></i><span class="count">{{ @question->getViews()  }}</span></span>
        <span class="upvotes badge bg-success"><i data-feather="thumbs-up"></i><span class="count">{{ @question->getDownvotes() }}</span></span>
        <span class="downvotes badge bg-danger"><i data-feather="thumbs-down"></i><span class="count">{{ @question->getUpvotes() }}</span></span>
      </div>
      <div class="card-subtitle">
        <div class="user-panel">
          <img src="https://www.gravatar.com/avatar/96e707ce17abf956c0d6a151fe097d62?s=22" class="gravatar" data-username="{{ @question->getCreator() }}" data-size="22" />
          {{ @question->getCreator() }} <span data-livestamp="{{ @question->getCreatedAt()/1000 }}"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="question-body">{{ @question->getText() }}</div>
    <div class="question-answer-count">{{ @question->getAnswers() }} {{ @question->getComments() }}</div>

      <!-- comments -->
    <div class="comments-list">
      <repeat group="{{ @comments }}" value="{{ @comment }}">
        <include href="templates/comment.html" />
      </repeat>
    </div>
    <!-- /comments list -->
    <!-- answers -->
    <div class="answers-list">
      <repeat group="{{ @answers }}" value="{{ @answer }}">
        <include href="templates/answer.html" />
      </repeat>
    </div>
    <!-- /answer-list -->
    
  </div> <!-- /card-body -->
  
  <div class="card-footer">
    <div class="question-actions float-end">
      <check if="{{ @currentUser->can(2) }}">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#commentModal{{ @question->getId() }}">
          Add A Comment
        </button>
      </check>
      <check if="{{ @currentUser->can(1) }}">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#answerModal{{ @question->getId() }}">
          Add An Answer
        </button>
      </check>
    </div>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="answerModal{{ @question->getId() }}" tabindex="-1" aria-labelledby="answerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Your Answer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ @BASEURL }}/questions/{{ @question->getId() }}/addAnswer" method="post">
          <textarea id="answerText{{ @question->getId() }}" name="answer_text"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="commentModal{{ @question->getId() }}" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Your Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ @BASEURL }}/questions/{{ @question->getId() }}/addComment" method="post">
          <textarea id="commentText{{ @question->getId() }}" name="comment_text"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>