<div class="card question" data-id="123">
  <div class="card-header">
    <div class="question-header">
      <div class="question-stats float-end" data-id="2232">
        <span class="views badge bg-info"><i data-feather="eye"></i><span class="count">{{ @question->getViews()
            }}</span></span>
        <form action="{{ @BASEURL }}/questions/{{ @question->getId() }}/vote/{{ @currentUser->getUsername }}" method="patch">   
          <button type="submit" class="upvotes btn btn-primary badge bg-success">
            <i data-feather="thumbs-up"></i>
            <span class="count">{{ @question->getUpvotes() }}</span>
          </button>
          <button class="downvotes badge bg-danger">
            <i data-feather="thumbs-down"></i>
            <span class="count">{{@question->getDownvotes() }}</span>
          </button>
        </form>
      </div>
      <h5 class="card-title">
        <a href="{{ @BASEURL }}/questions/{{ @question->getQuestionId() }}">{{ @question->getTitle() }}</a>
      </h5>
      <div class="card-subtitle">
        <div class="user-panel">
          <img src="https://www.gravatar.com/avatar/96e707ce17abf956c0d6a151fe097d62?s=22" class="gravatar" data-username="{{ @question->getCreator() }}" data-size="22"  />
          {{ @question->getCreator() }} <span data-livestamp="{{ @question->getCreatedAt()/1000 }}"></span>
        </div>
      </div>
      <div class="question-actions float-end">
        <a href="{{ @BASEURL }}/questions/{{ @question->getQuestionId() }}/addComment" class="card-link">Add A Comment</a>
        <a href="{{ @BASEURL }}/questions/{{ @question->getQuestionId() }}/addAnswer" class="card-link">Add An Answer</a>
      </div>
      <div class="question-answer-count">Answers: {{ @question->getAnswers() }} Comments: {{ @question->getComments() }}
      </div>
    </div>
  </div>
  
</div>