<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
    
    <div class="form-outline mb-4 container-sm" >
        <label for="email_signup" class="form-label">Email: </label>
        <input type="email" class="form-control" id="email_signup" placeholder="Your Email">
    </div>

    <div class="form-outline mb-4 container-sm">
        <label for="username_signup" class="form-label">Username: </label>
        <input type="text" class="form-control" id="username_signup" placeholder="Your Name">
    </div>

    <div class="form-outline mb-4 container-sm">
        <label for="pwd_signup" class="form-label">Password: </label>
        <input type="password" class="form-control" id="pwd_signup" placeholder="Your Password">
    </div>
</body>
</html>