<div class="card col-lg-3 position-absolute top-50 start-50 translate-middle shadow" style="height: 30rem;">
    <form>
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

        <div class="form-outline mb-4 container-sm px-3">
            <input type="email" name="email_signup" class="form-control" id="email_signup" placeholder="Your Email">
            <label for="email_signup" class="form-label">Email: </label>
        </div>

        <div class="form-outline mb-4 container-sm px-3">
            <input type="text" name="username_signup" class="form-control" id="username_signup" placeholder="Your Username">
            <label for="username_signup" class="form-label">Username: </label>
        </div>

        <div class="form-outline mb-4 container-sm px-3">
            <input type="password" name="pwd_signup" class="form-control" id="pwd_signup" placeholder="Your Password">
            <label for="pwd_signup" class="form-label">Password: </label>
        </div>

        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
        </div>
    </form>
</div>